@import "variables";

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.contentWrapper {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.mainContent {
  flex: 1;
  overflow-y: auto;
  background-color: var(--bg-base);
}
